.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.title {
  width: 20vw;
  text-align: center;
}

.subtitle {
  width: fit-content;
  text-align: center;
}

button {

}
