.gameArea {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: black;
  color: white;
}

.waldoImg {
  width: 100%;
}

.targettingBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 10vw;
}
